<div class="report-container">
  <div class="report-header">
    <div class="header-col">Academia Dice</div>
    <div class="header-col">Total House Points Earned</div>
  </div>
  <div class="report-body">
    <div class="term-column">
      <div class="term-header">&nbsp;</div>
      <div class="term-body">
        <div class="term-row">Morning</div>
        <div class="term-row">Afternoon</div>
        <div class="term-row">Evening</div>
      </div>
    </div>
    <div class="term-column">
      <div class="term-header">Fall Term</div>
      <div class="term-body">
        <div class="term-row">
          <div class="inner-col">
            <div class="inner-row">Class Name</div>
            <div class="inner-row">Spell Choice</div>
          </div>
          <div class="inner-col">
            <div class="inner-row">Final Grade</div>
          </div>
        </div>
        <div class="term-row">
          <div class="inner-col">
            <div class="inner-row">Class Name</div>
            <div class="inner-row">Spell Choice</div>
          </div>
          <div class="inner-col">
            <div class="inner-row">Final Grade</div>
          </div>
        </div>
        <div class="term-row">
          <div class="inner-col">
            <div class="inner-row">Class Name</div>
            <div class="inner-row">Spell Choice</div>
          </div>
          <div class="inner-col">
            <div class="inner-row">Final Grade</div>
          </div>
        </div>
      </div>
    </div>
    <div class="term-column">
      <div class="term-header">Winter Term</div>
      <div class="term-body">
        <div class="term-row">
          <div class="inner-col">
            <div class="inner-row">Class Name</div>
            <div class="inner-row">Spell Choice</div>
          </div>
          <div class="inner-col">
            <div class="inner-row">Final Grade</div>
          </div>
        </div>
        <div class="term-row">
          <div class="inner-col">
            <div class="inner-row">Class Name</div>
            <div class="inner-row">Spell Choice</div>
          </div>
          <div class="inner-col">
            <div class="inner-row">Final Grade</div>
          </div>
        </div>
        <div class="term-row">
          <div class="inner-col">
            <div class="inner-row">Class Name</div>
            <div class="inner-row">Spell Choice</div>
          </div>
          <div class="inner-col">
            <div class="inner-row">Final Grade</div>
          </div>
        </div>
      </div>
    </div>
    <div class="term-column">
      <div class="term-header">Spring Term</div>
      <div class="term-body">
        <div class="term-row">
          <div class="inner-col">
            <div class="inner-row">Class Name</div>
            <div class="inner-row">Spell Choice</div>
          </div>
          <div class="inner-col">
            <div class="inner-row">Final Grade</div>
          </div>
        </div>
        <div class="term-row">
          <div class="inner-col">
            <div class="inner-row">Class Name</div>
            <div class="inner-row">Spell Choice</div>
          </div>
          <div class="inner-col">
            <div class="inner-row">Final Grade</div>
          </div>
        </div>
        <div class="term-row">
          <div class="inner-col">
            <div class="inner-row">Class Name</div>
            <div class="inner-row">Spell Choice</div>
          </div>
          <div class="inner-col">
            <div class="inner-row">Final Grade</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="report-footer">
    <p>Monthly Downtime</p>
    <div class="downtime-tag-container">
      <div class="downtime-row">
        <div class="tag">Attend Club/Team Meeting</div>
        <div class="tag">Brew Potions</div>
        <div class="tag">Bond With Beast</div>
        <div class="tag">Independent Study</div>
      </div>
      <div class="downtime-row">
        <div class="tag">Intentional Interactions</div>
        <div class="tag">Personal Time</div>
        <div class="tag">Pick Up Job Shift</div>
        <div class="tag">Plant Magic Garden</div>
      </div>
    </div>
  </div>
  <div class="report-footer">
    <p>Time Trackers</p>
    <div class="countdown-container">
      <div class="countdown-col">
        <div class="countdown-title">Project 1</div>
        <div class="countdown-tracker">Remaining out of Total</div>
      </div>
      <div class="countdown-col">
        <div class="countdown-title">Project 2</div>
        <div class="countdown-tracker">Remaining out of Total</div>
      </div>
      <div class="countdown-col">
        <div class="countdown-title">Project 3</div>
        <div class="countdown-tracker">Remaining out of Total</div>
      </div>
    </div>
  </div>
</div>
