<div class="spellbook-grid">
  <aside>
    <div
      class="wand-attack-container"
      name="system.roll.value"
      data-roll="1d20+@attributes.spellAtkMod.value"
      data-label="is attempting to cast a spell!"
    ></div>
    <div class="spell-slot-table">
      <div class="flexcol">
        <strong
          style="
            text-align: center;
            letter-spacing: 1px;
            border-bottom: 1px solid white;
            padding-bottom: 2px;
            margin-bottom: 5px;
          "
          >Spellcasting</strong
        >
      </div>
      <div class="resource-content flexrow flex-center flex-between">
        <strong style="align-self: center; text-align: center">Ability</strong>
        <div>
          <input
            type="text"
            name="system.attributes.spellcastingAbility.value"
            value="{{system.attributes.spellcastingAbility.value}}"
            data-dtype="Text"
          />
        </div>
      </div>
      <div class="resource-content flexrow flex-center flex-between">
        <strong style="align-self: center; text-align: center"
          >Attack Mod</strong
        >
        <div>
          <input
            type="text"
            name="system.attributes.spellAtkMod.value"
            value="{{system.attributes.spellAtkMod.value}}"
            data-dtype="Number"
          />
        </div>
      </div>
      <div class="resource-content flexrow flex-center flex-between">
        <strong style="align-self: center; text-align: center">Save DC</strong>
        <div>
          <input
            type="text"
            name="system.attributes.spellSaveDC.value"
            value="{{system.attributes.spellSaveDC.value}}"
            data-dtype="Number"
          />
        </div>
      </div>
    </div>

    <div class="spell-slot-table">
      <div class="flexcol">
        <strong
          style="
            text-align: center;
            letter-spacing: 1px;
            border-bottom: 1px solid white;
            padding-bottom: 2px;
            margin-bottom: 5px;
          "
          >Mana Points</strong
        >
      </div>
      <!--- 1st Level Spell Slots --->
      <div class="resource-content flexrow flex-center flex-between">
        <label
          class="resource-label spell-slot-label"
          style="text-align: center"
        >
          Remaining
        </label>

        <label
          class="resource-label spell-slot-label"
          style="text-align: center"
        >
          Total
        </label>
      </div>
      <div class="flexcol">
        <div class="resource-content flexrow flex-center flex-between">
          <input
            type="text"
            name="system.manaPoints.current"
            value="{{system.manaPoints.current}}"
            data-dtype="Number"
          />

          <input
            type="text"
            name="system.manaPoints.max"
            value="{{system.manaPoints.max}}"
            data-dtype="Number"
          />
        </div>
      </div>
    </div>

    <div class="spell-slot-table">
      <div class="flexcol">
        <strong
          style="
            text-align: center;
            letter-spacing: 1px;
            border-bottom: 1px solid white;
            padding-bottom: 2px;
            margin-bottom: 5px;
          "
          >Sorcery Points</strong
        >
      </div>
      <!--- 1st Level Spell Slots --->
      <div class="resource-content flexrow flex-center flex-between">
        <label
          class="resource-label spell-slot-label"
          style="text-align: center"
        >
          Remaining
        </label>
        <label
          class="resource-label spell-slot-label"
          style="text-align: center"
        >
          Total
        </label>
      </div>
      <div class="flexcol">
        <div class="resource-content flexrow flex-center flex-between">
          <input
            type="text"
            name="system.attributes.sorceryPoints.value"
            value="{{system.attributes.sorceryPoints.value}}"
            data-dtype="Number"
          />

          <input
            type="text"
            name="system.attributes.sorceryPoints.max"
            value="{{system.attributes.sorceryPoints.max}}"
            data-dtype="Number"
          />
        </div>
      </div>
    </div>
  </aside>

  <main>
    <ol class="items-list">
      {{#each spells as |spells spellLevel|}}
      <li class="item flexrow items-header">
        <div class="item-name">{{spellLevel}} Level Spells</div>
        <div class="item-controls">
          <a
            class="item-control item-create"
            title="Create item"
            data-type="spell"
            data-spell-level="{{spellLevel}}"
            ><i class="fas fa-plus"></i> Add {{spellLevel}} Spell</a
          >
        </div>
      </li>
      {{#each spells as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-name flexrow">
          <div class="item-image">
            <a class="rollable" data-roll-type="item"
              ><img
                src="{{item.img}}"
                title="{{item.name}}"
                width="24"
                height="24"
            /></a>
          </div>
          <h4>{{item.name}}</h4>
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="Edit Item"
            ><i class="fas fa-edit"></i
          ></a>
          <a class="item-control item-delete" title="Delete Item"
            ><i class="fas fa-trash"></i
          ></a>
        </div>
      </li>
      {{/each}} {{/each}}
    </ol>
  </main>
</div>
