// ==============================
// ******************************
// *
// * Font Styles Installation
// *
// ******************************
// ==============================

@font-face {
  font-family: "Louis";
  src: url("../assets/fonts/Louis.ttf");
}

// ==============================
// ******************************
// *
// * Actor Sheet Styles
// *
// ******************************
// ==============================

input[type="checkbox"]:checked {
  -webkit-filter: greyscale(0%) !important;
}

// ==============================
// Shared Actor Sheet Styles
// ==============================

.npc,
.character {
  .sheet-header {
    .char-img-wrap {
      &:after {
        background-repeat: no-repeat;
      }
    }
  }
}

.npc {
  .sheet-header {
    .char-img-wrap {
      &:after {
        filter: drop-shadow(0 0 10px, #000);
      }
    }
  }
}

.grystud {
  .sheet-header {
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelGryffindor.png");
      }
    }
  }
}

.huffstud {
  .sheet-header {
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelHufflepuff.png");
      }
    }
  }
}

.ravstud {
  .sheet-header {
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelRavenclaw.png");
      }
    }
  }
}

.slystud {
  .sheet-header {
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelSlytherin.png");
      }
    }
  }
}

.professor,
.archmage {
  .sheet-header {
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelSchoolCrest.png");
      }
    }
  }
}

.shopkeeper {
  .sheet-header {
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelShopkeep.png");
      }
    }
  }
}

.magcitizen {
  .sheet-header {
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelMagicCitizen.png");
      }
    }
  }
}

.darkartist {
  .sheet-header {
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelDarkArts.png");
      }
    }
  }
}

.camelot {
  .sheet-header {
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelCamelot.png");
      }
    }
  }
}

.spirit {
  .sheet-header {
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelGhost.png");
      }
    }
  }
}

.portrait {
  .sheet-header {
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelPortrait.png");
        width: 3.5rem !important;
      }
    }
  }
}

.crusader {
  .sheet-header {
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelCrusader.png");
        width: 3.5rem !important;
      }
    }
  }
}

.muggle {
  .sheet-header {
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelMuggle.png");
      }
    }
  }
}

.squib {
  .sheet-header {
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelSquib.png");
        width: 2.5rem !important;
        left: 0.5rem;
      }
    }
  }
}

.npc,
.monster {
  .sheet-header {
    .header-fields {
      .flex-col {
        background: rgba(0, 0, 0, 0.6);

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.1px);
        -webkit-backdrop-filter: blur(3.1px);
        padding: 5px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.character,
.npc,
.monster {
  // Shared Actor Sheet Styles
  // ==============================
  * {
    color: white;
    font-family: "Louis";
  }
  i {
    font-family: "Font Awesome 6 Pro";
  }
  input,
  select {
    border-radius: 3px !important;
    border: 1px solid transparent;
    option {
      background: black;
    }
  }
  input[data-dtype="Number"] {
    //font-family: "Unsung Heroes";
    font-size: 20px;
  }
  input:focus,
  select:focus,
  .rollable:focus {
    box-shadow: 0 0 5px silver;
  }
  span.decorative-fraction {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background-color: white;
      top: 0;
      bottom: 0;
      right: 50%;
      left: 50%;
      width: 2px;
      transform: rotate(45deg);
    }
  }
  a:hover {
    text-shadow: none !important;
  }

  .sheet-header,
  .sheet-body {
    padding: 8px;
    border-radius: 4px;
    .rollable {
      transition: all 0.25s;
      &:hover {
        text-shadow: 0 0 5px rgba(0 0 0 / 33%) !important;
        transition: all 0.25s;
      }
    }
    .editor {
      background: rgba(0, 0, 0, 0.6);
      border-radius: 5px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3.1px);
      -webkit-backdrop-filter: blur(3.1px);
      padding: 5px;

      h1,
      h2,
      h3 {
        border-bottom: 1px solid #fff !important;
      }
      blockquote {
        border-left: 3px solid #fff !important;
      }

      .tox-tbtn__select-label {
        color: #000 !important;
      }
    }
  }

  // Actor - Header Styles
  // ==============================
  .sheet-header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: rgba(0, 0, 0, 0.6);
    }
    .char-img-wrap {
      position: relative;
      flex: none !important;
      justify-self: center;
      // background: rgba(0, 0, 0, 0.5);
      // -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      // backdrop-filter: blur(3.1px);
      // -webkit-backdrop-filter: blur(3.1px);
      // padding: 2px 4px;
      // border-radius: 5px;
      img {
        filter: drop-shadow(0 0 12px rgba(#000, 0.5));
      }
      &:after {
        filter: drop-shadow(0 0 12px rgba(#000, 0.5));
      }
      img {
        border: none !important;
        margin-right: 0 !important;

        flex: 0 0 100px;
        height: 100%;
        width: auto;
        object-fit: cover;
        max-width: auto;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 4rem;
        height: 4rem;
        background-size: 100%;
      }
    }
    .header-fields {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .d20 {
        background: url("../assets/img/pixels/PixelD20.png");
        background-size: 100% 100%;
        width: 2.5rem;
        height: 2.5rem;
        display: block;
        filter: drop-shadow(0 0 12px rgba(#000, 0.75));
        transition: filter 0.5s;
        &:hover {
          cursor: pointer;
          filter: drop-shadow(0 0 12px rgba(#fff, 0.75));
          transition: filter 0.5s;
        }
      }
      .charname,
      .inspo,
      .charmeta,
      .resources {
        background: rgba(0, 0, 0, 0.6);
        border-radius: 5px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.1px);
        -webkit-backdrop-filter: blur(3.1px);
        padding: 5px;
        label {
          padding: 2px 5px;
          border-radius: 3px;
        }
        input {
          text-align: center;
        }
      }
      .header-id {
        display: flex;
        gap: 0.5rem;
        align-items: flex-end;
        h1 {
          flex: 1;
          text-align: center;
          height: 100%;
          input {
            //font-family: "Strange Dreams";
          }
        }
        .inspo {
          display: flex;
          flex-direction: column;
          max-width: 100px;
          padding-top: 0 !important;
          border: 2px solid #fff;
          input {
          }
          label {
            font-size: 0.65rem;
            padding: 0;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
          }
        }
        > .resource {
          flex: 0.1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
      .charmeta {
        display: flex;
        .flex-col {
          display: flex;
          flex-direction: column;
          margin: 0 5px;
        }
      }
    }
  }

  // Actor - Nav Styles
  // ==============================
  .sheet-tabs {
    a {
      //font-family: "Cream";
      font-weight: 700;

      ///

      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        //background: #2098d1;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      &:hover,
      &:focus,
      &:active {
        //color: white;
        &:before {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
          -webkit-transition-timing-function: cubic-bezier(
            0.52,
            1.64,
            0.37,
            0.66
          );
          transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }
      }
    }
  }

  // Actor - Body Styles
  // ==============================
  aside {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    padding: 5px;
  }

  .sheet-body {
    background: url("../assets/img/GryffindorBG.png");
    background-position: center;
    background-repeat: repeat;
    .rollable {
      &:hover {
        color: #9c5e81;
        transition: all 0.25s;
      }
    }
    .skill {
      input[type="checkbox"] {
        &:checked {
          accent-color: #5d314a !important;
        }
      }
    }
    .tag {
      input[type="checkbox"] {
        &:checked {
          accent-color: #5d314a !important;
          & + span {
            text-decoration: underline;
          }
        }
      }
    }
    .items {
      input[type="checkbox"] {
        &:checked {
          accent-color: #5d314a !important;
        }
      }
      .money-list,
      .wandup,
      .equipment-list {
        > strong {
          background: linear-gradient(to bottom, #5d314a, #38130d);
          padding: 3px;
          letter-spacing: 1px;
          border-radius: 5px 5px 0 0;
          font-weight: 500;
          font-size: 10px;
          text-transform: uppercase;
          margin-top: 0;
        }
      }
    }
    .spells {
      aside {
        .wand-attack-container {
          background: url("../assets/img/pixels/PixelWand.png"), #5d314a;
          background-size: 65% 65%;
          border: 2px solid #38130d;

          &:hover {
            background: url("../assets/img/pixels/PixelWand.png"), #79385d;
            background-size: 70% 70%;
            border: 2px solid #5d314a;
          }
        }
      }
      .spell-slot-table {
        .flexcol {
          > strong {
            background: linear-gradient(to bottom, #5d314a, #38130d);
            padding: 3px;
            border-radius: 5px 5px 0 0;
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
          }
        }
      }
    }

    .features {
      .item {
        background: none !important;

        box-shadow: 0 !important;
        backdrop-filter: none !important;
        -webkit-backdrop-filter: none !important;
        border-bottom: 1px solid #5d314a;
        &:last-child {
          border-bottom: none;
        }
      }
    }
    .items-list {
      .items-header {
        background: linear-gradient(to bottom, #5d314a, #38130d);
        div {
          color: #fff !important;
          font-weight: normal !important;
          a {
            color: #fff !important;
            font-weight: normal !important;
            i {
              color: #fff !important;
            }
          }
        }
      }

      .item {
        background: rgba(0, 0, 0, 0.6);

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.1px);
        -webkit-backdrop-filter: blur(3.1px);
        .item-image {
          a {
            &:hover {
              img {
                filter: brightness(50%) sepia(100) !important;
              }
            }
          }
        }
      }
    }
  }

  .report {
    display: flex;
    flex-direction: column;
  }
}

// Actor - Spellbook Styles
// ==============================

.spellbook-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;

  .spell-slot-title {
    font-family: "EBG-Bold";
    font-size: 1.5rem;
  }

  .item-controls {
    flex: 1.5;
  }

  .spell-slot-table {
    margin: 8px 0;
    &:first-child {
      margin-top: 0;
    }
    * {
      label {
        font-weight: 700;
      }
    }
    .flexcol {
      .resource-content {
        input[type="text"] {
          &::placeholder {
            color: #fff;
            font-style: italic;
            font-size: 10px;
          }
        }
      }
    }
  }

  aside {
    .wand-attack-container {
      background: url("../assets/img/pixels/PixelWand.png");
      background-size: 100% 100%;
      width: 100%;
      height: 2rem;
      display: block;
      filter: drop-shadow(0 0 2px rgba(#000, 0.9));
      transition: all 0.5s;
      border-radius: 5px;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      &:hover {
        cursor: pointer;
        filter: drop-shadow(0 0 6px rgba(#000, 0.8));
        transition: all 0.5s;
      }
    }
  }
}

.npc,
.monster {
  .sheet-header {
    h1 {
      display: flex;
      padding: 5px 10px !important;
    }
  }
  .sheet-tabs {
    border-top: 2px solid #2e1116;
    border-bottom: 2px solid #2e1116;
    a {
      color: #2e1116;
      &:before {
        background: #2e1116;
      }
      &:hover,
      &:active,
      &:focus {
        color: #dcb36b;
      }
    }
  }
  .sheet-body {
    .ability {
      max-width: 7rem;
      margin: auto;
    }
    .description {
      .npc-sheet-grid {
        display: grid;
        grid-template-columns: 8rem 2fr;
        gap: 5px;
        .abilities-column {
          .ability-grid {
            background: rgba(0, 0, 0, 0.6);

            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3.1px);
            -webkit-backdrop-filter: blur(3.1px);
            padding: 3px 6px;
            border-radius: 4px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            place-items: center;
            text-align: center;

            margin: 0 7px 7px;
          }
        }
        .biography-column {
          .bio-top {
            min-height: 400px;
            height: 400px;
          }
        }
      }
    }
    .tab > .editor {
      background: rgba(46, 17, 22, 0.5);
      border: 1px solid #a9874c;
      border-radius: 5px;
      box-shadow: 0 4px 30px rgba(54, 35, 41, 0.2);
      padding: 5px;
    }
  }
}

// Actor - Reputation, Club, & Job Styles
// =======================================

.reputation-table {
  flex: none !important;
  border-radius: 5px;
  border-top: none !important;
  border-bottom: none !important;
  thead {
    border-radius: 5px 5px 0 0;

    tr {
      th {
        font-weight: 500;
        &:first-child {
          border-radius: 5px 0 0 0;
        }
        &:last-child {
          border-radius: 0 5px 0 0;
        }
      }
    }
  }
  tbody {
    border-radius: 0 0 5px 5px;
    tr {
      &:last-child {
        border-radius: 0 0 5px 5px;
        td {
          &:first-child {
            border-radius: 0 0 0 5px;
          }
          &:last-child {
            border-radius: 0 0 5px 0;
          }
        }
      }
    }
  }
  button {
    &:hover {
      box-shadow: 0 0 5px #fff !important;
    }
  }
  th:nth-child(1) {
    width: 5%; /* Equivalent to .25fr if total is 40% (10% + 10% + 20%) */
  }

  th:nth-child(2) {
    width: 35%; /* Equivalent to 1fr */
  }

  th:nth-child(3) {
    width: 60%; /* Equivalent to 3fr */
  }

  tr {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    padding: 5px;
  }
  .reputation-entry {
    td {
      input {
        text-align: center;
      }
      &.flexrow {
        padding: 0.5rem 0 0.75rem;
        .reputation-scale {
          border-right: 1px solid #fff;
          &:last-child {
            border-right: none;
          }
        }
      }

      .delete-reputation {
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        margin: 0;
        padding: 3px;
        line-height: 0;
        flex: 0.1;
      }
    }
  }
}

.reputation-scale {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;

  > label {
    margin-bottom: -4px;
    line-height: 1.25;
  }
  > input {
    margin: 0 0 3px !important;
    order: 1;
    border-color: black;
  }
  &.checked-class {
    background-color: #c0aa71;

    label {
      color: black;
    }
  }
}

.jobs-and-clubs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  flex: 0 !important;
  .club-title-wrap,
  .job-title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    padding: 5px;
    h3 {
      margin-bottom: 0;
      border-bottom: none;
      font-size: 1.5em;
      padding-left: 0.25rem;
      flex: 1;
    }
    > button {
      font-size: 1.75rem;

      margin: 0;
      padding: 0;

      flex: 0.1;

      &:hover {
        box-shadow: 0 0 5px #fff !important;
      }
    }
  }
  .job-entry,
  .club-membership-entry {
    margin-top: 5px;
    padding: 10px 5px 5px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    .delete-club,
    .delete-job {
      width: max-content;
      margin: 0;
      padding: 0;
      line-height: 0;
      flex: 0.1;
      &:hover {
        box-shadow: 0 0 5px #fff !important;
      }
    }
    input {
      &::placeholder {
        color: rgb(221, 221, 221);
      }
    }
  }
}

.galleon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gold;
}
.galleon-holder {
  color: gold;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
  font-size: 16px;
  line-height: 1;
  max-width: max-content;
}
.sickle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: silver;
}
.sickle-holder {
  color: silver;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
  font-size: 16px;
  line-height: 1;
  max-width: max-content;
}
.knut {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c07848;
}
.knut-holder {
  color: #c07848;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
  font-size: 16px;
  line-height: 1;
  max-width: max-content;
}

.inv-container {
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 1fr;
  gap: 5px;
  margin-bottom: 10px;
}

.money-list,
.wandup,
.equipment-list {
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  padding: 2px 4px;
  border-radius: 6px;

  > strong {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #fff;
    text-align: center;
    width: 100%;
    display: inline-block;
  }
}

.equipment-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  .flexrow {
    display: flex;
    align-items: center;
    width: 100%;
    strong {
      margin-right: 5px;
      flex: 0;
    }
    input {
      flex: 1;

      border: none !important;
    }
  }
}

.money-list,
.wandup {
  > strong {
    margin-bottom: 6px;
  }
  sub {
    text-transform: lowercase !important;
  }
  .money-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
}

// ==============================
// Character Styles
// ==============================

// Gryffindor House Theme
.gryffindor {
  .sheet-header {
    background: url("../assets/img/GryffHeader1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelGryffindor.png");
      }
    }
    .inspo {
      background: linear-gradient(to bottom, #952333, #38130d) !important;
    }
  }
  .sheet-tabs {
    border-top: 2px solid #952333;
    border-bottom: 2px solid #952333;
    a {
      color: #952333;
      &:before {
        background: #952333;
      }
      &:hover,
      &:active,
      &:focus {
        color: #fff;
      }
    }
  }
  .sheet-body {
    background: url("../assets/img/GryffindorBG.png");
    background-position: center;
    background-repeat: repeat;
    .rollable {
      &:hover {
        color: #ff3954;
        transition: all 0.25s;
      }
    }
    .skill {
      input[type="checkbox"] {
        &:checked {
          accent-color: #952333 !important;
        }
      }
    }
    .tag {
      input[type="checkbox"] {
        &:checked {
          accent-color: #952333 !important;
          & + span {
            text-decoration: underline;
          }
        }
      }
    }
    .items {
      input[type="checkbox"] {
        &:checked {
          accent-color: #952333 !important;
        }
      }
      .money-list,
      .wandup,
      .equipment-list {
        > strong {
          background: linear-gradient(to bottom, #952333, #38130d);
          padding: 3px;
          letter-spacing: 1px;
          border-radius: 5px 5px 0 0;
          font-weight: 500;
          font-size: 10px;
          text-transform: uppercase;
          margin-top: 0;
        }
      }
    }
    .spells {
      aside {
        .wand-attack-container {
          background: url("../assets/img/pixels/PixelWand.png"), #952333;
          background-size: 65% 65%;
          border: 2px solid #38130d;

          &:hover {
            background: url("../assets/img/pixels/PixelWand.png"), #bd152b;
            background-size: 70% 70%;
            border: 2px solid #952333;
          }
        }
      }
      .spell-slot-table {
        .flexcol {
          > strong {
            background: linear-gradient(to bottom, #952333, #38130d);
            padding: 3px;
            border-radius: 5px 5px 0 0;
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
          }
        }
      }
    }
    .report-container {
      .report-header {
        background: linear-gradient(to bottom, #952333, #38130d);
      }
      .report-body {
        .term-column {
          .term-header {
            background: linear-gradient(to bottom, #952333, #38130d);
          }
          &:first-child {
            .term-header {
              border-radius: 5px 0 0 0;
            }
          }
          &:last-child {
            .term-header {
              border-radius: 0 5px 0 0;
            }
          }
        }
      }
      .report-footer {
        .tracker-title {
          background: linear-gradient(to bottom, #952333, #38130d);
          border-radius: 5px 5px 0 0;
        }
      }
    }
    .effects {
      .club-title-wrap,
      .job-title-wrap,
      .reputation-table thead tr {
        background: linear-gradient(to bottom, #952333, #38130d) !important;
      }
      button {
        border: none !important;
      }
      .reputation-name-input {
        background: linear-gradient(to bottom, #952333, #38130d);
        border: none !important;
      }
      .reputation-scale {
        &.checked-class {
          background-color: #952333;

          label {
            color: #fff;
          }
        }
      }
    }
    .features {
      .item {
        background: none !important;

        box-shadow: 0 !important;
        backdrop-filter: none !important;
        -webkit-backdrop-filter: none !important;
        border-bottom: 1px solid #952333;
        &:last-child {
          border-bottom: none;
        }
      }
    }
    .items-list {
      .items-header {
        background: linear-gradient(to bottom, #952333, #38130d) !important;
        div {
          color: #fff !important;
          font-weight: normal !important;
          a {
            color: #fff !important;
            font-weight: normal !important;
            i {
              color: #fff !important;
            }
          }
        }
      }

      .item {
        background: rgba(0, 0, 0, 0.6);

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.1px);
        -webkit-backdrop-filter: blur(3.1px);
        .item-image {
          a {
            &:hover {
              img {
                filter: brightness(50%) sepia(100) saturate(100)
                  hue-rotate(25deg);
              }
            }
          }
        }
      }
    }
  }
}

// Hufflepuff House Theme
.hufflepuff {
  .sheet-header {
    background: url("../assets/img/HuffHeader1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelHufflepuff.png");
      }
    }
    .inspo {
      background: linear-gradient(to bottom, #e1ac1e, #af8417) !important;
      border: 2px solid #fff !important;
      * {
        color: #292521 !important;
        font-weight: 900;
      }
      label {
        font-weight: bold;
      }
    }
  }
  .sheet-tabs {
    border-top: 2px solid #292521;
    border-bottom: 2px solid #292521;
    a {
      color: #292521;
      &:before {
        background: #292521;
      }
      &:hover,
      &:active,
      &:focus {
        color: #e1ac1e;
      }
    }
  }
  .sheet-body {
    background: url("../assets/img/HufflepuffBG.png");
    background-position: center;
    background-repeat: repeat;
    .rollable {
      &:hover {
        color: #ffcc40;
        transition: all 0.25s;
        text-shadow: none !important;
      }
    }
    .skill {
      input[type="checkbox"] {
        &:checked {
          accent-color: #e1ac1e !important;
        }
      }
    }
    .tag {
      input[type="checkbox"] {
        &:checked {
          accent-color: #e1ac1e !important;
          & + span {
            text-decoration: underline;
          }
        }
      }
    }
    .items {
      input[type="checkbox"] {
        &:checked {
          accent-color: #e1ac1e !important;
        }
      }
      .money-list,
      .wandup,
      .equipment-list {
        > strong {
          background: linear-gradient(to bottom, #e1ac1e, #af8417);
          padding: 3px;
          letter-spacing: 1px;
          border-radius: 5px 5px 0 0;
          font-weight: 700;
          font-size: 10px;
          text-transform: uppercase;
          color: #292521;
        }
      }
    }
    .report-container {
      .report-header {
        background: linear-gradient(to bottom, #e1ac1e, #af8417);
        * {
          color: #292521 !important;
          font-weight: 700;
        }
      }
      .report-body {
        .term-column {
          .term-header {
            background: linear-gradient(to bottom, #e1ac1e, #af8417);
            color: #292521;
            font-weight: 700;
          }
          &:first-child {
            .term-header {
              border-radius: 5px 0 0 0;
            }
          }
          &:last-child {
            .term-header {
              border-radius: 0 5px 0 0;
            }
          }
        }
      }
      .report-footer {
        .tracker-title {
          background: linear-gradient(to bottom, #e1ac1e, #af8417);
          color: #292521;
          font-weight: 700;
          border-radius: 5px 5px 0 0;
        }
      }
    }
    .spells {
      aside {
        .wand-attack-container {
          background: url("../assets/img/pixels/PixelWand.png"), #e1ac1e;
          background-size: 65% 65%;
          border: 2px solid #af8417;

          &:hover {
            background: url("../assets/img/pixels/PixelWand.png"), #ffc831;
            background-size: 70% 70%;
            border: 2px solid #e1ac1e;
          }
        }
      }
      .spell-slot-table {
        .flexcol {
          > strong {
            background: linear-gradient(to bottom, #e1ac1e, #af8417);
            padding: 5px 0;
            border-radius: 5px 5px 0 0;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            color: #292521;
          }
        }
      }
    }
    .effects {
      .club-title-wrap,
      .job-title-wrap,
      .reputation-table thead tr {
        background: linear-gradient(to bottom, #e1ac1e, #af8417) !important;
        * {
          color: #292521;
        }
      }
      button {
        border: none !important;
      }
      thead {
        text-shadow: none !important;
        tr {
          th {
            font-weight: bold;
          }
        }
      }
      .reputation-name-input {
        background: linear-gradient(to bottom, #e1ac1e, #af8417);
        color: #292521;
        font-weight: 700;
        border: none !important;
      }
      .reputation-scale {
        &.checked-class {
          background-color: #e1ac1e;

          label {
            color: #292521;
          }
        }
      }
    }
    .features {
      .item {
        background: none !important;

        box-shadow: 0 !important;
        backdrop-filter: none !important;
        -webkit-backdrop-filter: none !important;
        border-bottom: 1px solid #e1ac1e;
        &:last-child {
          border-bottom: none;
        }
      }
    }
    .items-list {
      .items-header {
        background: #292521 !important;
        background: linear-gradient(to bottom, #e1ac1e, #af8417) !important;

        div {
          color: #292521 !important;
          font-weight: bold !important;
          a {
            color: #292521 !important;
            font-weight: bold !important;
            i {
              color: #292521 !important;
            }
          }
        }
      }

      .item {
        background: rgba(0, 0, 0, 0.6);

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.1px);
        -webkit-backdrop-filter: blur(3.1px);
        .item-image {
          a {
            &:hover {
              img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
                  saturate(5000%) hue-rotate(0deg);
              }
            }
          }
        }
      }
    }
  }
}

// Ravenclaw House Theme
.ravenclaw {
  .sheet-header {
    background: url("../assets/img/RavHeader1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelRavenclaw.png");
      }
    }
    .inspo {
      background: linear-gradient(to bottom, #2669a0, #143b5a) !important;
    }
  }
  .sheet-tabs {
    border-top: 2px solid #2669a0;
    border-bottom: 2px solid #2669a0;
    a {
      color: #2669a0;
      &:before {
        background: #2669a0;
      }
      &:hover,
      &:active,
      &:focus {
        color: #fff;
      }
    }
  }
  .sheet-body {
    background: url("../assets/img/RavenclawBG.png");
    background-position: center;
    background-repeat: repeat;
    .rollable {
      &:hover {
        color: #3aa6ff;
        transition: all 0.25s;
      }
    }
    .skill {
      input[type="checkbox"] {
        &:checked {
          accent-color: #2669a0 !important;
        }
      }
    }

    .report-container {
      .report-header {
        background: linear-gradient(to bottom, #2669a0, #143b5a) !important;
      }
      .report-body {
        .term-column {
          .term-header {
            background: linear-gradient(to bottom, #2669a0, #143b5a) !important;
          }
          &:first-child {
            .term-header {
              border-radius: 5px 0 0 0;
            }
          }
          &:last-child {
            .term-header {
              border-radius: 0 5px 0 0;
            }
          }
        }
      }
      .report-footer {
        .tracker-title {
          background: linear-gradient(to bottom, #2669a0, #143b5a) !important;
          border-radius: 5px 5px 0 0;
        }
      }
    }

    .tag {
      input[type="checkbox"] {
        &:checked {
          accent-color: #2669a0 !important;
          & + span {
            text-decoration: underline;
          }
        }
      }
    }
    .items {
      input[type="checkbox"] {
        &:checked {
          accent-color: #2669a0 !important;
        }
      }
      .money-list,
      .wandup,
      .equipment-list {
        > strong {
          background: linear-gradient(to bottom, #2669a0, #143b5a) !important;
          padding: 3px;
          letter-spacing: 1px;
          border-radius: 5px 5px 0 0;
          font-weight: 500;
          font-size: 10px;
          text-transform: uppercase;
          margin-top: 0;
        }
      }
    }
    .spells {
      aside {
        .wand-attack-container {
          background: url("../assets/img/pixels/PixelWand.png"), #2669a0;
          background-size: 65% 65%;
          border: 2px solid #143b5a;

          &:hover {
            background: url("../assets/img/pixels/PixelWand.png"), #338bd3;
            background-size: 70% 70%;
            border: 2px solid #2669a0;
          }
        }
      }
      .spell-slot-table {
        .flexcol {
          > strong {
            background: linear-gradient(to bottom, #2669a0, #143b5a) !important;
            padding: 3px;
            border-radius: 5px 5px 0 0;
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
          }
        }
      }
    }
    .effects {
      .club-title-wrap,
      .job-title-wrap,
      .reputation-table thead tr {
        background: linear-gradient(to bottom, #2669a0, #143b5a) !important;
      }
      button {
        border: none !important;
      }
      .reputation-name-input {
        background: linear-gradient(to bottom, #2669a0, #143b5a) !important;
        border: none !important;
      }
      .reputation-scale {
        &.checked-class {
          background-color: #2669a0;

          label {
            color: #fff;
          }
        }
      }
    }
    .features {
      .item {
        background: none !important;

        box-shadow: 0 !important;
        backdrop-filter: none !important;
        -webkit-backdrop-filter: none !important;
        border-bottom: 1px solid #2669a0;
        &:last-child {
          border-bottom: none;
        }
      }
    }

    .items-list {
      .items-header {
        background: linear-gradient(to bottom, #2669a0, #143b5a) !important;
        div {
          color: #fff !important;
          font-weight: normal !important;
          a {
            color: #fff !important;
            font-weight: normal !important;
            i {
              color: #fff !important;
            }
          }
        }
      }

      .item {
        background: rgba(0, 0, 0, 0.6);

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.1px);
        -webkit-backdrop-filter: blur(3.1px);
        .item-image {
          a {
            &:hover {
              img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
                  saturate(5000%) hue-rotate(90deg);
              }
            }
          }
        }
      }
    }
  }
}

// Slytherin House Theme
.slytherin {
  .sheet-header {
    background: url("../assets/img/SlythHeader1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    .char-img-wrap {
      &:after {
        background-image: url("../assets/img/pixels/PixelSlytherin.png");
      }
    }
    .inspo {
      background: linear-gradient(to bottom, #205e45, #103124) !important;
    }
  }
  .sheet-tabs {
    border-top: 2px solid #205e45;
    border-bottom: 2px solid #205e45;
    a {
      color: #205e45;
      &:before {
        background: #205e45;
      }
      &:hover,
      &:active,
      &:focus {
        color: #fff;
      }
    }
  }
  .sheet-body {
    background: url("../assets/img/SlytherinBG.png");
    background-position: center;
    background-repeat: repeat;
    .rollable {
      &:hover {
        color: #38d697;
        transition: all 0.25s;
      }
    }
    .tag {
      input[type="checkbox"] {
        &:checked {
          accent-color: #205e45 !important;
          & + span {
            text-decoration: underline;
          }
        }
      }
    }
    .report-container {
      .report-header {
        background: linear-gradient(to bottom, #205e45, #103124);
      }
      .report-body {
        .term-column {
          .term-header {
            background: linear-gradient(to bottom, #205e45, #103124);
          }
          &:first-child {
            .term-header {
              border-radius: 5px 0 0 0;
            }
          }
          &:last-child {
            .term-header {
              border-radius: 0 5px 0 0;
            }
          }
        }
      }
      .report-footer {
        .tracker-title {
          background: linear-gradient(to bottom, #205e45, #103124);
          border-radius: 5px 5px 0 0;
        }
      }
    }
    .skill {
      input[type="checkbox"] {
        &:checked {
          accent-color: #205e45 !important;
        }
      }
    }
    .effects {
      .club-title-wrap,
      .job-title-wrap,
      .reputation-table thead tr {
        background: linear-gradient(to bottom, #205e45, #103124) !important;
      }
      button {
        border: none !important;
      }
      .reputation-name-input {
        background: linear-gradient(to bottom, #205e45, #103124);
        border: none !important;
      }
      .reputation-scale {
        &.checked-class {
          background-color: #205e45;

          label {
            color: #fff;
          }
        }
      }
    }
    .items {
      input[type="checkbox"] {
        &:checked {
          accent-color: #205e45 !important;
        }
      }
      .money-list,
      .wandup,
      .equipment-list {
        > strong {
          background: linear-gradient(to bottom, #205e45, #103124);
          padding: 3px;
          letter-spacing: 1px;
          border-radius: 5px 5px 0 0;
          font-weight: 500;
          font-size: 10px;
          text-transform: uppercase;
        }
      }
    }
    .spells {
      aside {
        .wand-attack-container {
          background: url("../assets/img/pixels/PixelWand.png"), #205e45;
          background-size: 65% 65%;
          border: 2px solid #103124;

          &:hover {
            background: url("../assets/img/pixels/PixelWand.png"), #2d9269;
            background-size: 70% 70%;
            border: 2px solid #205e45;
          }
        }
      }
      .spell-slot-table {
        .flexcol {
          > strong {
            background: linear-gradient(to bottom, #205e45, #103124);
            padding: 5px 0;
            border-radius: 5px 5px 0 0;
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
          }
        }
      }
    }
    .features {
      .item {
        background: none !important;

        box-shadow: 0 !important;
        backdrop-filter: none !important;
        -webkit-backdrop-filter: none !important;
        border-bottom: 1px solid #205e45;
        &:last-child {
          border-bottom: none;
        }
      }
    }
    .items-list {
      .items-header {
        background: linear-gradient(to bottom, #205e45, #103124) !important;
        div {
          color: #fff !important;
          font-weight: normal !important;
          a {
            color: #fff !important;
            font-weight: normal !important;
            i {
              color: #fff !important;
            }
          }
        }
      }

      .item {
        background: rgba(0, 0, 0, 0.6);

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.1px);
        -webkit-backdrop-filter: blur(3.1px);
        .item-image {
          a {
            &:hover {
              img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
                  saturate(5000%) hue-rotate(45deg);
              }
            }
          }
        }
      }
    }
  }
}

// ==============================
// NPC Styles
// ==============================

.npc {
  .sheet-header {
    background-image: url("../assets/img/hog-header.jpg");
    background-size: 100%;
    background-position: 100%;
  }

  .sheet-body {
    background-image: url("../assets/img/npcbg1.jpg");
    background-size: 100%;
    background-position: center;
  }
}

// ==============================
// Monster Styles
// ==============================

.monster {
  .sheet-header {
    background-image: url("../assets/img/hog-header.jpg");
    background-size: 100%;
    background-position: 100%;
  }

  .sheet-body {
    background-image: url("../assets/img/hog-monster.jpg");
    background-size: 100% 100%;
    background-position: center;
  }
}

// ==============================
// ******************************
// *
// * Item Sheet Styles
// *
// ******************************
// ==============================

// ==============================
// Shared Item Sheet Styles
// ==============================

// ==============================
// Item - Feature Styles
// ==============================

// ==============================
// Item - Spell Styles
// ==============================

// ==============================
// Item - Item Styles
// ==============================

nav.sheet-tabs.tabs {
  justify-content: space-between;
  gap: 0.25rem;
  > a {
    padding: 0.25rem;
    &.active {
      text-shadow: none;
      transition: all 0.5s;
      &:hover {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: all 0.5s;
      }
    }
  }
}

.abilities {
  gap: 0.75rem;
  padding-bottom: 5px;
}

.ability {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  padding: 5px;

  span {
    //font-family: "Unsung Heroes";
    font-size: 1.5rem;
  }
  input {
    font-weight: 700;
  }
  label {
    padding-top: 5px;
    //font-family: "Strange Dreams";
  }
}

.system-waw {
  .window-app {
    .window-content {
      padding: 0 !important;
    }
  }
}

.additional-abil-wrap {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 0 5px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);

  label {
    flex: 1;
    font-weight: 700;
  }
  .resource {
    display: flex;
    align-items: center;
    justify-content: center;
    .resource-content {
      input {
        //width: 2.5rem;
        text-align: center !important;
      }
    }
  }
}

.skills {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  padding: 5px;
}

.skill {
  display: flex;
  align-items: center;
  label {
    flex: 1;
  }
  input[type="text"] {
    flex: 0.125;
  }
  input[type="checkbox"] {
    width: auto;
    height: auto;
    margin-right: 0.25rem;
  }
}

.features {
  .grid {
    margin: 0;
    padding-top: 5px;
    .main {
      background: rgba(0, 0, 0, 0.6);
      border-radius: 5px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3.1px);
      -webkit-backdrop-filter: blur(3.1px);
      padding: 5px;
    }
  }
}

.report-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .report-header {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    padding: 5px 10px;

    .header-col {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        flex: 2;
      }
      input {
        flex: 1;
      }
    }
  }
  .report-body {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;

    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    //border: 1px solid #fff;
    padding: 5px;
    .term-column {
      ///
      display: flex;
      flex-direction: column;
      ///
      &:first-child {
        .term-body {
          .term-row {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            .fa-light {
              font-size: 24px;
            }
          }
        }
      }
      &:nth-child(n + 2) {
        .term-body {
          .inner-col {
            height: 100%;
          }
        }
      }
      &:last-child {
        border-right: none;
        .term-body {
          border-right: none;
        }
      }
      .term-header {
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid #fff;
        padding: 5px;
      }
      .term-body {
        flex: 1;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        border-right: 1px dashed rgba(#fff, 0.5);
        &:first-child {
          place-items: center;
          justify-items: center;
        }

        .term-row {
          padding: 5px 10px;
          border-bottom: 1px dashed rgba(#fff, 0.5);
          &:last-child {
            border-bottom: none;
          }
          &:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &.grade-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            text-align: center;
            .fa-light {
              background: rgba(0, 0, 0, 0.1);
              border-radius: 50%;

              padding: 6px;
            }
            input {
              font-weight: 600;
              letter-spacing: 1px;
              text-transform: uppercase;
              &::placeholder {
                color: #fff;
                font-style: italic;
                font-weight: 400 !important;
                letter-spacing: 0 !important;
                text-transform: none;
              }
            }
          }
          .inner-col {
            display: flex;
            flex-direction: column;

            &:last-child {
              //height: 100%;
              .inner-row {
                height: 100%;
                input {
                  height: 100%;
                  line-height: 100%;
                  font-weight: 600;
                  letter-spacing: 1px;

                  &::placeholder {
                    width: 100%;
                    color: #fff;
                    height: 100%;
                    font-style: italic;

                    font-weight: 400 !important;
                    letter-spacing: 0 !important;
                  }
                }
                &:last-child {
                  input {
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .report-downtime {
    background: rgba(0, 0, 0, 0.6);
    border: 1px dashed rgba(#fff, 0.5);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    padding: 5px;

    display: grid;
    grid-template-columns: 1.125fr 3fr;
    .downtime-title {
      padding-right: 5px;
      .flex-center {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        input {
          width: 100%;
          border-bottom: 1px dashed rgba(#fff, 0.5);
          font-weight: 600;
          letter-spacing: 1px;
          &::placeholder {
            color: #fff;
            font-style: italic;
            font-size: 10px;
            font-weight: 400;
            letter-spacing: 0;
          }
        }
      }
    }

    .downtime-tag-container {
      display: flex;
      flex-direction: column;
      gap: 4px;
      .downtime-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .tag {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          input {
            margin: 0 3px 3px 0 !important;
          }
        }
      }
    }
  }
  .report-footer {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    padding: 5px;

    .tracker-title {
      font-size: 16px;
      text-align: center;
      margin: 0 auto;
      letter-spacing: 1px;
      padding: 5px 0;
      border-bottom: 1px solid #fff;
    }

    .countdown-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .border-maker {
        border-right: 1px dashed rgba(#fff, 0.5);
        border-left: 1px dashed rgba(#fff, 0.5);
      }
      .inner-col {
        padding: 5px;
        .inner-row {
          input {
            &::placeholder {
              font-weight: 400;
              font-style: italic;
              color: #fff;
            }
          }
          &.last-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            * {
              text-align: center;
            }
            .inner-col {
              strong {
              }
              input {
              }
            }
          }
        }
      }
    }
  }
}

.fa-sunrise {
  color: #fda26b;
}

.fa-sun {
  color: #fde26b;
}

.fa-sunset {
  color: #fd6ba8;
}

///
///

.feature-sheet,
.item-sheet,
.spell-sheet {
  * {
    color: #fff;

    input,
    select {
      border: none;
      border-radius: 0;
      border-bottom: 1px dashed #fff;

      option {
        background-color: #2e1116;
      }

      &:focus {
        box-shadow: 0 0 5px #fff;
      }
      &::placeholder {
        color: #fff;
      }
    }
  }

  .sheet-header {
    background: url("../assets/img/hog-header.jpg");
    padding: 8px;
    border-radius: 5px;
    .header-fields {
      background: rgba(#39141c, 0.5);
      border-radius: 5px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3.1px);
      -webkit-backdrop-filter: blur(3.1px);
      padding: 5px;

      h1 {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: "Louis";
      }
      .flexrow {
        gap: 5px;
        align-items: flex-start;
        * {
          font-family: "Louis";
        }
      }
      .resource {
        text-align: center;
        padding: 5px 0;
        * {
          font-family: "Louis";
        }
        label {
          font-weight: 700;
          color: #e4e1d0;
        }
      }
      .spell-meta {
        padding: 5px 0;
        * {
          font-family: "Louis";
        }
        .flexrow {
          margin-bottom: 5px;
          .resource {
            label {
              font-weight: 700;
              color: #e4e1d0;
            }
          }
          &:last-child {
            margin-bottom: 0;
            .resource {
              display: flex;
              align-items: center;
              padding: 0;
            }
          }
        }
      }
    }
  }
  .sheet-tabs,
  .sheet-body {
    * {
      font-family: "Louis";
    }
    padding: 8px 9px;
    border-radius: 5px;

    background: linear-gradient(to bottom, #623643, #3e1a1e);
  }
  .sheet-body {
    height: 62%;
    .editor > a {
      &:hover {
        text-shadow: 0 0 5px #3e1a1e;
      }
      i {
        font-family: "Font Awesome 6 Pro";
      }
    }
    .resource {
      background: rgba(0, 0, 0, 0.6);
      border-radius: 5px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3.1px);
      -webkit-backdrop-filter: blur(3.1px);
      padding: 5px;
    }
    .editor {
      background: rgba(0, 0, 0, 0.6);
      border-radius: 5px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3.1px);
      -webkit-backdrop-filter: blur(3.1px);
      padding: 5px;

      h1,
      h2,
      h3 {
        border-bottom: 1px solid #fff !important;
      }
      blockquote {
        border-left: 3px solid #fff !important;
      }

      .tox-tbtn__select-label {
        color: #000 !important;
      }
    }
  }
  .sheet-tabs {
    a {
      color: #e4e1d0;
      &:hover {
        text-shadow: 0 0 5px #fff;
      }
    }
  }
}
