.effects .item {
  .effect-source,
  .effect-duration,
  .effect-controls {
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    font-size: 12px;
  }

  .effect-controls {
    border: none;
  }
}
