<form class="{{cssClass}} feature-sheet" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <h1 class="charname">
        <i class="fa-solid fa-hand-holding-magic"></i>
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"
        />
      </h1>
      <div class="resource">
            <label for="system.source" class="resource-label">Feature Source</label>
            <input
              type="text"
              name="system.source"
              value="{{system.source}}"
              data-dtype="Text" placeholder="(House, Caster Type, School of Magic, Background, Feat, Metamagic, etc.)"
            />
          </div>
    </div>
    
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>

  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData
      button=true owner=owner editable=editable}}
    </div>

  </section>
</form>
